.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  min-width: 200px;
  min-height: 50px;
  border: transparent;
  border-radius: 4px;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-button-color);
  }
}
