/* Modal form */

/*.form__field {
  position: relative;
  margin-bottom: 10px;
}*/

.form__field + .form__field {
  margin-top: 10px;
}

.form__field-label {
  cursor: pointer;
  /*display: block;*/
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 0;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__field-input {
  margin-top: 4px;
  padding-left: 42px;
  height: 40px;
  /*width: 100%;*/
  cursor: pointer;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /*resize: none;*/
  transition: border var(--animation);
}

.form__field-icon {
  position: absolute;
  top: 29px;
  /*bottom: 11px;*/
  left: 12px;
  fill: var(--title-text-color);
  transition: fill var(--animation);
}

.form__field-input--resize-comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.form__field-input::placeholder {
  font-weight: var(--font-normal);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

  &:not(:placeholder-shown) {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
}

.form__field-input:hover,
.form__field-input:focus {
  border-color: var(--accent-color);
}

.form__field .form__field-input:hover + .form__field-icon,
.form__field .form__field-input:focus + .form__field-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.form__field:focus-within .form__field-input {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form__field:focus-within .form__field-icon {
  fill: var(--accent-color);
}

/* Checkbox */

/*.agreement {
  position: relative;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement__checkbox {
  position: absolute;
  appearance: none;
  cursor: pointer;
}*/

.agreement__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement__icon {
  display: block;
  min-width: 16px;
  min-height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  fill: var(--dark-bg-text-color);
  transition: fill var(--animation), border var(--animation);
  cursor: pointer;
}

.agreement__checkbox:checked + .agreement__icon {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  display: inline-block;
}

.agreement__text {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 8px;
}

.agreement__conditions {
  display: inline-flex;
  color: var(--accent-color);
}

/* Кнопка Отправить */

.form__button {
  /*display: block;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:active {
    background: var(--accent-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
  }
}
