/* Модальное окно - Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  & .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

/*.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}*/

.modal {
  position: absolute;
  width: 100%;
  max-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);

  /*overflow-y: scroll;*/
  padding: 40px;
  z-index: 150;

  box-shadow: var(--box-shadow);
  border-radius: 4px;
  background-color: var(--dark-bg-text-color);

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal__title {
  font-weight: var(--font-bold);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

/* Кнопка Закрыть */

.modal__button-close {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: var(--dark-bg-text-color);

  &:hover .modal__icon-close,
  &:focus .modal__icon-close {
    fill: var(--accent-color);
  }
}

.modal__icon-close {
  /*fill: #000000;
  transition: fill var(--animation);*/
  display: block;
  width: 11px;
  height: 11px;
  z-index: 200;
}
