/* Контейнер Public */

.public {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  width: 100%;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((50% - 45px) / 2);
    align-items: start;
    margin-bottom: 0;
  }
}

.public__title {
  color: var(--dark-bg-text-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  padding-top: 0px;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    padding-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 20px;
  }
}
