html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  //outline: 1px solid red;
}

body {
  font-family: var(--font-family-base);
  font-weight: var(--font-normal);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal-open {
  overflow: hidden;
}
