:root {
  /* Colors */

  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --dark-bg-text-color: #ffffff;
  --accent-button-color: #188ce8;
  --dark-bg-color: #2f303a;
  --hero-bg: #e5e5e5;
  --team-bg-color: #f5f4fa;
  --border-header: #ececec;
  --border-examples: #eeeeee;
  --icon-bg: #44454e;
  --icon-color: #afb1b8;

  /* Shadows + animation */

  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-btn: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadow-examples: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Fonts: Base styles */

  --font-family-base: 'Roboto', sans-serif;
  --font-family-logo: 'Raleway', sans-serif;
  --font-size-base: 14px;
  --letter-spacing-base: 0.03em;
  --line-height-base: 1.71;

  /* Fonts: Weights */

  --font-normal: 400;
  --font-medium: 500;
  --font-ultra-bold: 900;
  --font-bold: 700;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
