.page-footer {
  background-color: var(--dark-bg-color);
  color: var(--dark-bg-text-color);
  padding: 60px 0;
}

.page-footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-footer__logo {
  color: var(--dark-bg-text-color);
  display: inline-block;
  margin-bottom: 20px;
}
