.header {
  border-bottom: 1px solid var(--border-header);
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  @media screen and (max-width: 767.98px) {
    margin-right: auto;
    padding: 16px 0;
  }
  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding: 26px 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.navigation {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767.98px) {
    margin-bottom: auto;
  }

  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
}
