.team {
  background-color: var(--team-bg-color);
}

.team__list {
  --grid-item-count: 1;
  --space-between: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    --grid-item-count: 2;
  }

  @media screen and (min-width: 1200px) {
    --grid-item-count: 4;
  }
}

.team__item {
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--dark-bg-text-color);

  @media screen and (max-width: 767.98px) {
    width: 100%;
  }
}

.member__card {
  padding: 30px 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.19;

  @media screen and (max-width: 767.98px) {
    padding: 30px 122px 24px 122px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    padding: 30px 74px 24px 74px;
  }
}

.member__name {
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.member__post {
  margin-bottom: 16px;
}
